<!-- employees.hbs -->
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../../public/style.css">

<head>
    <title>Basic Form</title>
</head>

<body>
    <h1>Basic Form</h1>

    <form action="/submit" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit">Submit</button>
    </form>
    <form action="/employee" method="get">
        <button type="submit">list</button>

    </form>
</body>

</html>
<!-- list.hbs -->
<!DOCTYPE html>
<html>

<head>
    <title>Employee List</title>
    <style>
        .employee-item {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <h1>Employee List</h1>
    {{#each employees}}
    <div class="employee-item">
        <p>{{this.name}} - {{this.email}}</p>
        <form action="/employee/update/{{this.id}}" method="POST">
            <button type="submit">Update</button>
        </form>
        <form action="/employee/delete/{{this.id}}" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
    {{/each}}
</body>

</html>